.container {
  width: 232px;
  margin: auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.btn-reset {
  display: block;
  border: none;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  color: #494949;
  border: #c3c3c3 solid 1px;
  background-color: #ffffff;
  cursor: pointer;
}
