<div class="container">
  <h2>Change the background color of the current page</h2>

  <span
    [style.color]="color"
    [cpToggle]="true"
    [cpDialogDisplay]="'inline'"
    [cpPositionRelativeToArrow]="true"
    [(colorPicker)]="color"
    [cpOKButtonText]="'Apply'"
    [cpOKButton]="true"
    (colorPickerSelect)="setColor()"
  >
  </span>

  <app-preset-colors
    [selectionIndicator]="false"
    (selectEvent)="select($event)"
  ></app-preset-colors>

  <button class="btn-remove-color" (click)="removeColor()">Remove color</button>

  <button class="btn-options" (click)="openOptionsPage()">Options</button>
</div>
