header {
  $width: 35px;

  background-color: #4688f1;
  padding: 20px;
  margin-bottom: -72px;

  .logo {
    width: $width;
    height: $width;
    padding: 14px;
    border-radius: 50%;
    background-color: #ffff;

    img {
      display: block;
      width: $width;
      height: $width;
    }
  }
}

