<header>
  <h1>Border color of {{ host$ | async }}</h1>
</header>

<section>
  <span
    [style.color]="colorPicker$ | async"
    [cpToggle]="true"
    [cpDialogDisplay]="'inline'"
    [cpPositionRelativeToArrow]="true"
    [(colorPicker)]="colorPicker"
    [cpOKButtonText]="'Apply the color'"
    [cpOKButton]="true"
    (colorPickerSelect)="setBorderColor()"
  >
  </span>

  <app-preset-colors
    [presetColors]="presetColors$ | async"
    [selectionIndicator]="false"
    (selectEvent)="select($event)"
  ></app-preset-colors>
</section>

<footer>
  <button
    class="btn btn-remove-color"
    title="Remove the border color"
    *ngIf="hasBorderColor$ | async"
    (click)="removeBorderColor()"
  >
    <app-icon name="xcross" class="red"></app-icon>
  </button>
  <button
    class="btn btn-options ml-auto"
    title="Open the options page"
    (click)="openOptionsPage()"
  >
    <app-icon name="gear"></app-icon>
  </button>
</footer>
