header {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #4688f1;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 1.2em;
    color: #ffffff;
  }
}

.body {
  background-color: #ffffff;
  padding: 0 15px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f2f4;
}

.btn-remove-color {
  svg {
    fill: #dc3545;
  }
}
