$width: 40px;
$padding-x: 8px;
$padding-y: 8px;

header {
  padding: 10px 10px 0;
}

section {
  padding: 15px 20px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.btn-link {
  display: flex;
  width: auto;
  padding: $padding-x $padding-y;
  margin-bottom: $padding-x;
  font-weight: 400;
  height: $width;
  line-height: $width;
  color: #212529;
  text-decoration: none;
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    background-color: #e7e7e7;
  }
}

.color {
  position: relative;
  width: $width;
  border-radius: 50%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAh0lEQVRYR+2W0QlAMQgD60zdfwOdqa8TmI/wQMr5K0I5bZLIzLOa2nt37VVVbd+dDx5obgCC3KBLwJ2ff4PnVidkf+ucIhw80HQaCLo3DMH3CRK3iFsmAWVl6hPNDwt8EvNE5q+YuEXcMgkonVM6SdyCoEvAnZ8v1Hjx817MilmxSUB5rdLJDycZgUAZUch/AAAAAElFTkSuQmCC);
}

.value {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: $width;
  height: $width;
  border-radius: 50%;
}

.host {
  padding-left: $padding-x;
}

.no-applied-colors {
  text-align: center;
}
