<div class="container">
  <h1>Preset colors</h1>

  <app-preset-colors
    [presetColors]="presetColors$ | async"
    [currentIndex]="currentIndex$ | async"
    (selectEvent)="select($event)"
  ></app-preset-colors>

  <span
    [style.color]="colorPicker"
    [cpToggle]="true"
    [cpDialogDisplay]="'inline'"
    [cpPositionRelativeToArrow]="true"
    [(colorPicker)]="colorPicker"
    [cpOKButtonText]="'Apply'"
    [cpOKButton]="true"
    (colorPickerSelect)="colorize(colorPicker)"
  >
  </span>

  <button class="btn-reset" (click)="reset()">
    Reset all colors
  </button>
</div>
